.houselists {
    display: flex;
    margin-top: 3rem;
    }
.house {
    position: relative;
    overflow: hidden;
    width: 70px;
    height: 550px;
    background-size: auto 105%;
    background-position: center;
    border-radius: 60px;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 10px -1px rgba(255,255,255,1);
    box-shadow: 0px 0px 10px -1px rgba(255,255,255,1);
    min-width: 100px;
    transition: .5s ease;
    margin: 15px;
    }
    .house:hover {
    min-width: 300px;
    background-size: auto 100%;
    border-radius: 10px;
    }
    .house-inner {
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-end;
    }
    .house::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(199, 248, 237, 0.5);
    position: absolute;
    transition: .5s ease;
    }
    .house:hover::before{
    background: none;
    }