.container {
    margin-top: 3rem;
    display: grid;
    justify-content:center;
    justify-items: center;
    align-items: center;
    gap: 50px;
}

.title {
    width: 40px;
    margin-top: 12rem;
    margin-right: 10rem;
    margin-left: 4rem;
}

